# development environment DEV or PROD
MODE='DEV'
# database
CONNECTION_STRING='postgres://url_user:url_password@postgres:5432/url_db?sslmode=disable'
# character base for code generation
SYMBOLS='QWERTYUIOPASDFGHJKLZXCVBNMqwertyuiopasdfghjklzxcvbnm1234567890'
